{% extends "base.html" %}

{% block content %}
        <section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">

						<h2>Edit Comment</h2>
					</header>
				</div>
			</section>

<div id="main" class="container">
    <form method="post">
        <input type="hidden" name="key" value="{{ blog.key().id()}}">

        <div>Comment:</div>

            <div class="12u$">
                <textarea  name="comment" placeholder="Enter text here" rows="6">{{comment.comment}}</textarea>
            </div>


        <div class="error">{{error}}</div>
        <div><input class="button" type="submit" value="Submit"><a href="/blog/{{blog.key().id()}}" class="button icon special">cancel</a></div>


    </form>
</div>
{% endblock %}