{% extends "base.html" %}

{% block content %}
        <section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">

						<h2>Edit Post</h2>
					</header>
				</div>
			</section>

<div id="main" class="container">
    <form method="post">
        <input type="hidden" name="key" value="{{ blog.key().id()}}">
        <label>
            <div >Title:</div>
            <input  type="text" name="subject" value="{{blog.subject}}"><br>
        </label>
        <label>
        <div>Contents:</div>

            <div class="12u$">
                <textarea  name="blogentry" placeholder="Enter text here" rows="6">{{blog.blogentry}}</textarea>
            </div>

        </label>
        <div class="error">{{error}}</div>
        <div><input class="button" type="submit" value="Submit"><a href="/blog/{{blog.key().id()}}" class="button icon special">cancel</a></div>


    </form>
</div>
{% endblock %}